
<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Add new guest</h1>

  <%= form_with model: @guest do |form| %>
    <div class="my-5">
 <%= form.label :first_name %>
      <%= form.text_field :first_name, required: true, autofocus: true, placeholder: "Enter your guest's first name", value: params[:first_name], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
 <%= form.label :last_name %>
      <%= form.text_field :last_name, required: true, placeholder: "Enter your guest's last name", value: params[:last_name], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

     <div class="my-5">
 <%= form.label :nickname %>
      <%= form.text_field :nickname, required: false, placeholder: "Enter your guest's nickname (if they have one)", value: params[:nickname], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
 <%= form.label :email %>
      <%= form.email_field :email, required: true, placeholder: "Enter your guest's email", value: params[:email], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Create new guest", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>